.search-container {
  width: 70%;
  min-height: 15em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  opacity: 90%;
  border-radius: 1em;
}

.reset-btn {
  min-height: 2.5em;
}

.reset-btn:hover {
  background-color: rgb(243, 67, 67);
}
