.search-form {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.search-input {
  width: 70%;
  height: 3em;
  background-color: white;
  border-radius: 0.5em;
}

.search-input::placeholder {
  position: relative;
  left: 0.5em;
}
