@import url("https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rokkitt:wght@300&family=Ruslan+Display&display=swap");

html {
  background: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.search-filter-btn {
  width: 20%;
  height: auto;
  font-size: 1em;
  background-color: white;
  border-radius: 0.5em;
}

.search-filter-btn:hover {
  background-color: rgb(82, 179, 211);
}
